Cannot configure headers when HTTP 401 occurs

It's an issue about `cros` setting again. I know it's a low-level bug. But I have to say, I have try my best to solve this question but still unsatisfactory.

It's a long story. Thank you for your attention.

## Phenomenon
First, I request route `/oauth/token` by `POST` method. If I send the right username and password, the headers are as below:

```
Access-Control-Allow-Credentials:true
Access-Control-Allow-Headers:Authorization,Content-Type,Accept,Origin,User-Agent,DNT,Cache-Control,X-Mx-ReqToken,Keep-Alive,X-Requested-With,If-Modified-Since, token
Access-Control-Allow-Methods:GET, POST, PUT, PATCH, DELETE, OPTIONS
Access-Control-Allow-Origin:*
Access-Control-Max-Age:1728000
Cache-Control:no-store, private
Connection:keep-alive
Content-Encoding:gzip
Content-Type:application/json; charset=UTF-8
Date:Wed, 17 Jan 2018 07:55:29 GMT
pragma:no-cache
Server:nginx/1.10.2
Transfer-Encoding:chunked
X-RateLimit-Limit:60
X-RateLimit-Remaining:57
```

It seems nothing bad.
Then, I send with incorrect password. The headers which I configure in `Nginx` are disappeared.
As below:

```
Cache-Control:no-cache, private
Connection:keep-alive
Content-Type:application/json
Date:Wed, 17 Jan 2018 07:47:08 GMT
Server:nginx/1.10.2
Transfer-Encoding:chunked
X-RateLimit-Limit:60
X-RateLimit-Remaining:59
```

## My Nginx Config

```
server{

        ...

        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
        add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type';

        location ~ ^.*/(?P<request_basename>[^/]+\.(jpg|png))$ {
                add_header Content-Disposition 'attachment;
                 filename="$request_basename"';
        }

        location / {
                client_max_body_size    20m;

                try_files $uri $uri/ /index.php?$query_string;
                access_log   off;
                expires      -1;
        }

        location ~ [^/]\.php(/|$) {
                fastcgi_split_path_info ^(.+?\.php)(/.*)$;
                if (!-f $document_root$fastcgi_script_name) {
                        return 404;
                }
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                fastcgi_pass unix:/run/php/php7.1-fpm.sock;
                fastcgi_index index.php;
                include fastcgi_params;
        }
}
```
I have tried many ways to place `add_header`. For example, in `location ~ [^/]\.php(/|$) {}` quote and in `location / {}` quote.

## Debug

I found that in `Illuminate\Foundation\Exceptions\ExceptionHandlerContract:167` the `render` function, we catch the `OAuthServerException::invalidCredentials()` shown `League\OAuth2\Server\Grant:98`. (dir: `/vendor/league/oauth2-server/`)

Here is the code in the handler. It can explain how the headers were replaced by php-cgi:

```php
public function generateHttpResponse(ResponseInterface $response, $useFragment = false)
    {
        $headers = $this->getHttpHeaders();

        $payload = [
            'error'   => $this->getErrorType(),
            'message' => $this->getMessage(),
        ];

        if ($this->hint !== null) {
            $payload['hint'] = $this->hint;
        }

        if ($this->redirectUri !== null) {
            if ($useFragment === true) {
                $this->redirectUri .= (strstr($this->redirectUri, '#') === false) ? '#' : '&';
            } else {
                $this->redirectUri .= (strstr($this->redirectUri, '?') === false) ? '?' : '&';
            }

            return $response->withStatus(302)->withHeader('Location', $this->redirectUri . http_build_query($payload));
        }

        foreach ($headers as $header => $content) {
            $response = $response->withHeader($header, $content);
        }

        $response->getBody()->write(json_encode($payload));

        return $response->withStatus($this->getHttpStatusCode());
    }
```

```php
    public function getHttpHeaders()
    {
        $headers = [
            'Content-type' => 'application/json',
        ];

        // Add "WWW-Authenticate" header
        //
        // RFC 6749, section 5.2.:
        // "If the client attempted to authenticate via the 'Authorization'
        // request header field, the authorization server MUST
        // respond with an HTTP 401 (Unauthorized) status code and
        // include the "WWW-Authenticate" response header field
        // matching the authentication scheme used by the client.
        // @codeCoverageIgnoreStart
        if ($this->errorType === 'invalid_client') {
            $authScheme = 'Basic';
            if (array_key_exists('HTTP_AUTHORIZATION', $_SERVER) !== false
                && strpos($_SERVER['HTTP_AUTHORIZATION'], 'Bearer') === 0
            ) {
                $authScheme = 'Bearer';
            }
            $headers['WWW-Authenticate'] = $authScheme . ' realm="OAuth"';
        }
        // @codeCoverageIgnoreEnd
        return $headers;
    }
```

I guess, the headers are defined in PHP, in consequence, the setting of headers configured in Nginx doesn't work.

## My Ugly Way To Solve

Finally, I rewrite the `report` method in handler `App\Exceptions\Handler`

```php
    public function report(Exception $exception)
    {
        if ($exception instanceof OAuthServerException) {
            header('Access-Control-Allow-Origin: *');
        }

        parent::report($exception);
    }
```

It works.

## Conclusion

But in my opinion, this is an ugly way to solve this problem. Could I use Nginx `add_header` setting to rewrite it back in this situation? Or do you guys have any good idea?

Thanks for you attention again.

I meet the same situation.

Can you try this package? https://github.com/barryvdh/laravel-cors